<template>
  <v-app
    id="inspire"
  >
    <v-toolbar
      color="black"
      dense
      fixed
      dark
      clipped-left
      app
    >
      <v-toolbar-title class="mr-5 align-center">
        <span class="title">2º Open Comodoro</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>apps</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>notifications</v-icon>
      </v-btn>
    </v-toolbar>
    <v-content>
      <v-container fluid>
        <router-view/>
      </v-container>
    </v-content>
  </v-app>
</template>
