<template>
  <div id="home">
    <v-layout justify-center align-center>
      <v-flex shrink>
        <countdown end="September 09, 2018"/>
      </v-flex>
    </v-layout>
    <v-layout justify-center align-center>
      <v-flex shrink xs8>
        <v-form ref="form" v-model="valid" lazy-validation dark>
          <v-layout row>
            <v-flex xs6 class="mr-5">
              <v-select
                :items="equipes"
                label="Equipe"
                outline
              ></v-select>
            </v-flex>
            <v-flex xs5>
              <v-select
              :items="professores"
              label="Professor"
              outline
            ></v-select>
            </v-flex>
          </v-layout>
          <v-layout row class="mt-5">
            <b-table striped hover :items="items"></b-table>
          </v-layout>
          <v-layout row>
            <v-flex xs12>
              <v-btn outline>
                Salvar
              </v-btn>
            </v-flex>
          </v-layout>
        </v-form>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  data () {
    return {
      equipes: ['Zenith', 'Graice Barra', 'Não Lembro'],
      professores: ['Murilo', 'Lucas', 'William'],
      professor: '',
      valid: true,
      items: [
        {nome: 'William Galleti', sexo: 'Masculino', categoria_idade: 'Adulto', faixa: 'Roxa', categoria_peso: 'Pesado Até 86Kg'},
        {nome: 'William Galleti', sexo: 'Masculino', categoria_idade: 'Adulto', faixa: 'Roxa', categoria_peso: 'Pesado Até 86Kg'},
        {nome: 'William Galleti', sexo: 'Masculino', categoria_idade: 'Adulto', faixa: 'Roxa', categoria_peso: 'Pesado Até 86Kg'},
        {nome: 'William Galleti', sexo: 'Masculino', categoria_idade: 'Adulto', faixa: 'Roxa', categoria_peso: 'Pesado Até 86Kg'},
        {nome: 'William Galleti', sexo: 'Masculino', categoria_idade: 'Adulto', faixa: 'Roxa', categoria_peso: 'Pesado Até 86Kg'},
        {nome: 'William Galleti', sexo: 'Masculino', categoria_idade: 'Adulto', faixa: 'Roxa', categoria_peso: 'Pesado Até 86Kg'},
        {nome: 'William Galleti', sexo: 'Masculino', categoria_idade: 'Adulto', faixa: 'Roxa', categoria_peso: 'Pesado Até 86Kg'},
        {nome: 'William Galleti', sexo: 'Masculino', categoria_idade: 'Adulto', faixa: 'Roxa', categoria_peso: 'Pesado Até 86Kg'},
        {nome: 'William Galleti', sexo: 'Masculino', categoria_idade: 'Adulto', faixa: 'Roxa', categoria_peso: 'Pesado Até 86Kg'},
        {nome: 'William Galleti', sexo: 'Masculino', categoria_idade: 'Adulto', faixa: 'Roxa', categoria_peso: 'Pesado Até 86Kg'},
        {nome: 'William Galleti', sexo: 'Masculino', categoria_idade: 'Adulto', faixa: 'Roxa', categoria_peso: 'Pesado Até 86Kg'}
      ]
    }
  }
}
</script>
